#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -f Makefile.in common/Makefile.in extra/Makefile.in configure aclocal.m4
	rm -rf build-aux

override_dh_auto_configure:
	./configure --with-gnome=3.22 --prefix=/usr
